.closeButton {
    position: absolute;
    border: none;
    background: white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    right: 0.5rem;
    top: 0.5rem;
    z-index: 10;
}