.dialogOverlay {
    width: 100%;
    margin: auto;
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 480px) {
    .dialogOverlay {
        justify-content: center;
    }
}

.dialogContent {
    padding: 0!important;
    margin: 0 auto!important;
    width: auto!important;
    max-width: 400px;
    height: auto!important;
    background-color: rgba( 211, 211, 211, 0.5 )!important;
}